@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.sprint-table {
  margin: 5rem auto;
  border-radius: 2rem;
  border: 1rem hidden #ccc;
  border-collapse: collapse;
  box-shadow: 0 0 2px 2px #ccc;
  /* overflow: hidden; */
  /* max-width: 80rem; */
}

.sprint-table li,
.sprint-table p,
.sprint-table a,
.sprint-table td {
  font-size: 1.3rem;
  line-height: 2.5;
  padding: 7px;
}
.sprint-table p {
  padding: 7px 10px 7px 0px;
}
.sprint-table thead {
  font-size: 1.8rem;
  color: #373737;
}

.sprint-table th {
  border-bottom: 1px solid #ccc;
  min-width: 30rem;
  padding: 1.5rem;
  line-height: 1.7;
}

.sprint-table td {
  border-right: 1px solid #ccc;
  min-width: 30rem;
  padding: 1.5rem;
  line-height: 1.7;
  font-size: 1.4rem;
}

.sprint-table td:not(:nth-of-type(1)) {
  border-bottom: 1px solid #ccc;
}
